# Application
wp-content/plugins/*
!wp-content/plugins/.gitkeep
wp-content/mu-plugins/*/
wp-content/upgrade
wp-content/uploads/*
!wp-content/uploads/.gitkeep

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep
